@import url("~/assets/fonts/YekanBakh2/font.css");

.font-dana {
  font-family: "YekanBakh" serif !important;
  font-feature-settings: "kern" on, "liga" on, "dlig" on;
  -moz-font-feature-settings: "kern" on, "liga" on, "dlig" on;
  -webkit-font-feature-settings: "kern" on, "liga" on, "dlig" on;
  -ms-font-feature-settings: "kern" on, "liga" on, "dlig" on;
  -o-font-feature-settings: "kern" on, "liga" on, "dlig" on;
}

.font-dana-bold {
  font-weight: 900;
  font-family: "YekanBakh" serif !important;
  font-feature-settings: "kern" on, "liga" on, "dlig" on;
  -moz-font-feature-settings: "kern" on, "liga" on, "dlig" on;
  -webkit-font-feature-settings: "kern" on, "liga" on, "dlig" on;
  -ms-font-feature-settings: "kern" on, "liga" on, "dlig" on;
  -o-font-feature-settings: "kern" on, "liga" on, "dlig" on;
}